In [38]:
# 1. Write a program to reverse a string.

s = "Hello World."
s[::-1]

'.dlroW olleH'

In [37]:
# 2. Write a program to reverse a string.

s = "Hello World"
s.upper()

'HELLO WORLD'

In [11]:
s = "Hello World"
s = s.casefold()
rev_s = s[::-1]
if s == rev_s:
      print ("The string is a palindrome.")

else:

    print ("The string is not a palindrome.")

The string is not a palindrome.

In [36]:
# 3. Convert a string to uppercase.

'HELLO WORLD'

In [35]:
# 4. Convert a string to lowercase.

s = "Hello World"
s.lower()

'hello world'

In [32]:
# 5. Count the number of vowels in a string.

s = "Hello World"
s = s.lower()
vowels = 0
for i in s:
    if i=="a" or i=="e" or i=="i" or i=="o" or i=="u":
        vowels += 1
print("Total vowels found is/are:", vowels)

Total vowels found is/are: 3

In [33]:
# 6. Count the number of consonants in a string.

s = "Hello World"
s = s.lower()
consonants = 0
for i in s:
    if i!="a" and i!="e" and i!="i" and i!="o" and i!="u":
        consonants += 1
print("Total consonants found is/are:", consonants)

Total consonants found is/are: 8

In [40]:
# 7. Remove all whitespaces from a string.

s = "      Hello World   "
s.strip()

'Hello World'

In [41]:
# 8. Find the length of a string without using the `len()` function.

s = "Hello World"
len(s)

11

In [49]:
# 9. Check if a string contains a specific word.

s = "Hello World"
s = s.lower()

sword = input("Enter a word to check in string")
sword = sword.lower()

if sword in s:
    print("String contains the word entered")
else:
    print("String does not contains entered word")

Enter a word to check in string World

String contains the word entered

In [51]:
# 10. Replace a word in a string with another word.

s = "Hello World"
s.replace("Hello","Welcome")

'Welcome World'

In [55]:
# 11. Count the occurrences of a word in a string.

s = "Hello World World World"
s = s.lower()

sword = input("Enter a word to find its occurances in string")
sword = sword.lower()

if sword in s:
    print(s.count(sword))

Enter a word to find its occurances in string WORLD

3

In [65]:
# 12. Find the first occurrence of a word in a string.

s = "Hello World World World"
s = s.lower()

sword = input("Enter a word to find its first occurance in string")
sword = sword.lower()

if sword in s:
    print("The first occurance is at {0} position".format(s.find(sword)))

Enter a word to find its first occurance in string WORLD

The first occurance is at 6 position

In [69]:
# Find the last occurrence of a word in a string.

s = "Hello World World World"
s = s.lower()

sword = input("Enter a word to find its last occurance in string")
sword = sword.lower()

if sword in s:
    print("The first occurance is at {0} position".format(s.rindex(sword)))

Enter a word to find its last occurance in string world

The first occurance is at 18 position

In [73]:
# 14. Split a string into a list of words.

s = "Welcome to the World of Data Science"
lword = s.split(" ")
print("List of words are:",lword)

List of words are: ['Welcome', 'to', 'the', 'World', 'of', 'Data', 'Science']

In [75]:
# 15. Join a list of words into a string.

lword = ['Welcome', 'to', 'the', 'World', 'of', 'Data', 'Science']
s = " ".join(lword)
print(s)

Welcome to the World of Data Science

In [76]:
# 16. Convert a string where words are separated by spaces to one where words are separated by underscores.

s = "Welcome to the World of Data Science"
s = s.replace(" ","_")
print(s)

Welcome_to_the_World_of_Data_Science

In [83]:
# 17. Check if a string starts with a specific word or phrase.

s = "Welcome to the World of Data Science"

if s.startswith("Welcome"):
    print("The string start with word Welcome")
else:
    print("The string does not start with word Welcome")

The string start with Welcome

In [86]:
# 18. Check if a string ends with a specific word or phrase.

s = "Welcome to the World of Data Science"

if s.endswith("Science"):
    print("The string ends with word Science")
else:
    print("The string does not ends with word Science")

The string ends with word Science

In [89]:
# 19. Convert a string to title case (e.g., "hello world" to "Hello World").

s = "hello world"
print(s.title())

Hello World

In [99]:
# 20. Find the longest word in a string.

s = "Welcome to the World of Data Science"
lword = s.split()

longest_word = ""
max_length = 0

for word in lword:
    if len(word) > max_length:
        max_length = len(word)
        longest_word = word
    
print("Logest word in the given string is:",longest_word)

Logest word in the given string is: Welcome

In [105]:
# 21. Find the shortest word in a string.

s = "Welcome to the World of Data Science"
lword = s.split()

shortest_word = ""
min_length = float('inf')

for word in lword:
    if len(word) < min_length:
        min_length = len(word)
        shortest_word = word
    
print("Logest word in the given string is:",shortest_word)

Logest word in the given string is: to

In [120]:
# 22. Reverse the order of words in a string.

s = "Welcome to the World of Data Science"

l1 = s.split()[::-1]
print(" ".join(l1))

Science Data of World the to Welcome

In [123]:
# 23. Check if a string is alphanumeric.

s = "Welcome123"

if s.isalnum():
    print("The string is alphanumeric.")
else:
    print("The string is not alphanumeric.")

The string is alphanumeric.

In [125]:
# 24. Extract all digits from a string.

s = "Welcome123 Hello 456"

digits = ""

for char in s:
    if char.isdigit():
        digits += char
print("Digits present in string are:", digits)

Digits present in string are: 123456

In [126]:
# 25. Extract all alphabets from a string.

s = "Welcome123 Hello 456"

alphabets = ""

for char in s:
    if char.isalpha():
        alphabets += char
print("Alphabets present in string are:", alphabets)

Alphabets present in string are: WelcomeHello

In [129]:
# 26. Count the number of uppercase letters in a string.

s = "Welcome to the World of Data Science"

UC_letter = 0

for char in s:
    if char.isupper():
        UC_letter += 1
print("Total Upper Case letter are:", UC_letter)

Total Upper Case letter are: 4

In [1]:
# 27. Count the number of lowercase letters in a string.

s = "Welcome to the World of Data Science"

LC_letter = 0

for char in s:
    if char.islower():
        LC_letter += 1
print("Total Upper Case letter are:", LC_letter)

Total Upper Case letter are: 26

In [2]:
# 28. Swap the case of each character in a string.

s = "Welcome to the World of Data Science"

Swap_string = s.swapcase()
print(Swap_string)

wELCOME TO THE wORLD OF dATA sCIENCE

In [5]:
# 29. Remove a specific word from a string.

s = "Welcome to the World of Data Science"
s_word = "Science"
words = s.split()

# Create a new list excluding the word to remove
filtered_words = [word for word in words if word!=s_word]
s = ' '.join(filtered_words)
print(s)

Welcome to the World of Data

In [8]:
# 30. Check if a string is a valid email address.

import re

email = input("Enter your email id")
pattern = r'^[\w\.-]+@[\w\.-]+\.\w+$'

if re.match(pattern, email):
    print("Valid email-id")
else:
    print("Invalid email-id")

Enter your email id dilshad.com

Invalid email-id

In [9]:
# 31. Extract the username from an email address string.

email = input("Enter your email id")
username = email.split("@")[0]
print("Your username is ",username)

Enter your email id dilshad4u@gmail.com

Your username is  dilshad4u

In [11]:
# 32. Extract the domain name from an email address string.

email = input("Enter your email id")
domain_name = email.split("@")[1]
print("You are on domain ",domain_name)

Enter your email id dilshad4u@gmail.com

You are on domain  gmail.com

In [12]:
# 33. Replace multiple spaces in a string with a single space.

s = "Welcome    to   the    World   of Data     Science"
cleaned_s = " ".join(s.split())
print(cleaned_s)

Welcome to the World of Data Science

### List Based Practice Problem

In [15]:
# 1. Create a list with integers from 1 to 10.

l = []
for i in range(1,11):
    l.append(i)
print(l)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [20]:
# 2. Find the length of a list without using the `len()` function.

l = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

count = 0
for _ in l:
    count+=1
print(count)

10

In [25]:
# 3. Append an element to the end of a list.

l = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
new_element = 11
l.append(new_element)
print("Updated list:",l)

Updated list: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11]

In [26]:
# 4. Insert an element at a specific index in a list.
l = [10,20,40,50,60]
new_element = 30

# Inserting new element at third position after element 20
l.insert(2,new_element)
print("Updated list:",l)

Updated list: [10, 20, 30, 40, 50, 60]

In [28]:
# 5. Remove an element from a list by its value.

l = [10,20,30,40,50,60]
l.remove(60)
print("Updated list:",l)

Updated list: [10, 20, 30, 40, 50]

In [31]:
# 6. Remove an element from a list by its index.

l = [10,20,30,40,50,60]
l.pop(5)
print("Updated list:",l)

Updated list: [10, 20, 30, 40, 50]

In [35]:
# 7. Check if an element exists in a list.

l = [10,20,30,40,50,60]
element_to_check = 50
if element_to_check in l:
    print(f"{element_to_check} exists in the list.")
else:
    print(f"{element_to_check} does not exist in the list.")

50 exists in the list.

In [39]:
# 8. Find the index of the first occurrence of an element in a list.

l = [10,20,30,40,50,60]
element_to_check = 50
if element_to_check in l:
    print(f"Element {element_to_check} present at Index:",l.index(element_to_check))
else:
    print(f"Element {element_to_check} not present in list")

Element 50 present at Index: 4

In [44]:
# 9. Count the occurrences of an element in a list.

l = [10,20,10,40,50,10]
element_to_check = 10

count = 0
for i in l:
    if i == element_to_check:
        count+=1
print(f"{count} occurances of Element {element_to_check} in the list")

3 occurances of Element 10 in the list

In [46]:
# 10. Reverse the order of elements in a list.

l = [10,20,30,40,50,60]
l.reverse()
print("Reversed list:",l)

Reversed list: [60, 50, 40, 30, 20, 10]

In [48]:
# 11. Sort a list in ascending order.

l = [60, 50, 40, 30, 20, 10]
l.sort()
print("Sorted list assending order:",l)

Sorted list: [10, 20, 30, 40, 50, 60]

In [50]:
# 12. Sort a list in descending order.

l = [10,20,30,40,50,60]
l.sort(reverse=True)
print("Sorted list descending order:",l)

Sorted list descending order: [60, 50, 40, 30, 20, 10]

In [51]:
# 13. Create a list of even numbers from 1 to 20.

even_list = []

for i in range(2,21):
    if i%2==0:
        even_list.append(i)
print("List of Even numbers from 1 to 20:",even_list)

Even numbers till 20: [2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [58]:
# 14. Create a list of odd numbers from 1 to 20.

odd_list = []

for i in range(1,20):
    if i%2!=0:
        odd_list.append(i)
print("List of Odd numbers from 1 to 20:",odd_list)

List of Odd numbers from 1 to 20: [1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

In [59]:
# 15. Find the sum of all elements in a list.

l = [10,20,30,40]
total_sum = sum(l)
print("Sum of elements:", total_sum)

Sum of elements: 100

In [60]:
# 16. Find the maximum value in a list.

l = [10,20,30,40]
max_value = max(l)
print("Element having maximum value:", max_value)

Element having maximum value: 40

In [61]:
# 17. Find the minimum value in a list.

l = [10,20,30,40]
min_value = min(l)
print("Element having minimum value:", min_value)

Element having minimum value: 10

In [70]:
# 18. Create a list of squares of numbers from 1 to 10.

square_list = []

for i in range(1,11):
    square_list.append(i*i)
print("List of squares:",square_list)

List of squares: [1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [71]:
# 19. Create a list of random numbers.

import random

# Create a list of random integers between 1 and 100
random_integers = [random.randint(1, 100) for _ in range(10)]

# Print the list of random integers
print("List of random integers:", random_integers)

List of random integers: [13, 80, 40, 37, 49, 32, 63, 78, 61, 91]

In [72]:
# 20. Remove duplicates from a list.

l = [10,20,10,40,50,10]
unique_list = list(set(l))
print("List without duplicates:", unique_list)

List without duplicates: [40, 10, 20, 50]

### Tuple Based Practice Problem :

In [80]:
# 1. Create a tuple with integers from 1 to 5.

t = (1,2,3,4,5)
print(t)

(1, 2, 3, 4, 5)

In [83]:
# 2. Access the third element of a tuple.

t = (10,20,30,40,50)
third_element = t[2]
print("The third element of the tuple is:", third_element)

The third element of the tuple is: 30

In [84]:
# 3. Find the length of a tuple without using the `len()` function.

t = (10,20,30,40,50)

count = 0
for _ in t:
    count+=1
    
print("The length of the tuple is:", count)

The length of the tuple is: 5

In [87]:
# 4. Count the occurrences of an element in a tuple.

t = (20,20,30,20,50)
element_to_check = 20
print(f"{t.count(element_to_check)} occurances for element {element_to_check} in tuple.")

3 occurances for element 20 in tuple.

In [88]:
# 5. Find the index of the first occurrence of an element in a tuple.

t = (10,15,30,20,50)
element_to_check = 20
print(f"First occurrence of for element {element_to_check} is at index {t.index(element_to_check)} in tuple.")

First occurrence of for element 20 is at index 3 in tuple.

In [90]:
# 6. Check if an element exists in a tuple.

t = (10,15,30,20,50)
element_to_check = 40

if element_to_check in t:
    print(f"{element_to_check} exists in the tuple.")
else:
    print(f"{element_to_check} does not exist in the tuple.")

40 does not exist in the tuple.

In [91]:
# 7. Convert a tuple to a list.

t = (10,15,30,20,50)
l = list(t)
print("Tuple:", t)
print("List:", l)

Tuple: (10, 15, 30, 20, 50)
List: [10, 15, 30, 20, 50]

In [92]:
# 8. Convert a list to a tuple.

l = [10,15,30,20,50]
t = tuple(l)
print("List:", l)
print("Tuple:", t)

List: [10, 15, 30, 20, 50]
Tuple: (10, 15, 30, 20, 50)

In [93]:
# 9. Unpack the elements of a tuple into variables.

t = (10,15,30,20,50)

v1, v2, v3, v4, v5 = t

print("variable 1:", v1)
print("variable 2:", v2)
print("variable 3:", v3)
print("variable 4:", v4)
print("variable 5:", v5)

variable 1: 10
variable 2: 15
variable 3: 30
variable 4: 20
variable 5: 50

In [94]:
# 10. Create a tuple of even numbers from 1 to 10.

even_list = []
even_tuple = ()
for i in range(2,21):
    if i%2==0:
        even_list.append(i)
even_tuple = tuple(even_list)           
print("Tuple of even numbers:", even_tuple)

Tuple of even numbers: (2, 4, 6, 8, 10, 12, 14, 16, 18, 20)

In [95]:
# 11. Create a tuple of odd numbers from 1 to 10.

odd_list = []
odd_tuple = ()
for i in range(1,20):
    if i%2!=0:
        odd_list.append(i)
odd_tuple = tuple(odd_list)           
print("Tuple of odd numbers:", odd_tuple)

Tuple of odd numbers: (1, 3, 5, 7, 9, 11, 13, 15, 17, 19)

In [99]:
# 12. Concatenate two tuples.

t1 = (10,20,30)
t2 = (40,50,60)
concatenated_tuple = t1 + t2
print("Concatenated tuple:", concatenated_tuple)

Concatenated tuple: (10, 20, 30, 40, 50, 60)

In [101]:
# 13. Repeat a tuple three times.

t1 = (10,20,30)
repeated_tuple = t1 * 3
print("Concatenated tuple:", repeated_tuple)

Concatenated tuple: (10, 20, 30, 10, 20, 30, 10, 20, 30)

In [108]:
# 14. Check if a tuple is empty.

t1 = (1,2,3)

if not t1:
    print("The tuple is empty")
else:
    print("The tuple is not empty")

The tuple is not empty

In [110]:
# 15. Create a nested tuple.

nested_tuple = ((1, 2, 3), ('a', 'b', 'c'), (True, False))
print("Nested tuple:", nested_tuple)

Nested tuple: ((1, 2, 3), ('a', 'b', 'c'), (True, False))

In [111]:
# 16. Access the first element of a nested tuple.

nested_tuple = ((1, 2, 3), ('a', 'b', 'c'), (True, False))
print("Nested tuple first element is:", nested_tuple[0])

Nested tuple first element is: (1, 2, 3)

In [115]:
# 17. Create a tuple with a single element.

single_element_tuple = (10,)
print("Single element tuple:", single_element_tuple)

Single element tuple: (10,)

In [117]:
# 18. Compare two tuples.

tuple1 = (10, 20, 30)
tuple2 = (10, 20, 40)

# Step 2: Compare the two tuples using comparison operators
print("tuple1 == tuple2:", tuple1 == tuple2) 
print("tuple1 != tuple2:", tuple1 != tuple2) 
print("tuple1 < tuple2:", tuple1 < tuple2)   
print("tuple1 <= tuple2:", tuple1 <= tuple2)  
print("tuple1 > tuple2:", tuple1 > tuple2)    
print("tuple1 >= tuple2:", tuple1 >= tuple2)

tuple1 == tuple2: False
tuple1 != tuple2: True
tuple1 < tuple2: True
tuple1 <= tuple2: True
tuple1 > tuple2: False
tuple1 >= tuple2: False

In [119]:
# 19. Delete a tuple.

tuple1 = (10, 20, 30)

del tuple1
print(tuple1)

NameError: name 'tuple1' is not defined

In [120]:
# 20. Slice a tuple.

t = (1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

sliced_tuple = t[2:6]  # Elements from index 2 to 5 (end index is exclusive)

# Step 3: Print the sliced tuple
print("Sliced tuple:", sliced_tuple)

Sliced tuple: (3, 4, 5, 6)

### Set Based Practice Problem :

In [4]:
# 1. Create a set with integers from 1 to 5.

s = set()
for i in range(1,6):
    s.add(i)
print(s)

{1, 2, 3, 4, 5}

In [6]:
# 2. Add an element to a set.

s = {1, 2, 3, 4, 5}
new_element = 6
s.add(new_element)
print("Updated Sets:",s)

Updated Sets: {1, 2, 3, 4, 5, 6}

In [7]:
# 3. Remove an element from a set.

s = {1, 2, 3, 4, 5}
s.remove(5)
print("Updated Sets:",s)

Updated Sets: {1, 2, 3, 4}

In [10]:
# 4. Check if an element exists in a set.

s = {1, 2, 3, 4, 5}
element_to_check = 3

if element_to_check in s:
    print(f"{element_to_check} element is present in set")
else:
    print(f"{element_to_check} element is not present in set")

3 element is present in set

In [13]:
# 5. Find the length of a set without using the `len()` function.

s = {1, 2, 3, 4, 5}

count = 0
for _ in s:
    count += 1
print("Length of set is:",count)

Length of set is: 5

In [14]:
# 6. Clear all elements from a set.

s = {1, 2, 3, 4, 5}
s.clear()
print("Updated set:",s)

Updated set: set()

In [15]:
# 7. Create a set of even numbers from 1 to 10.

even_set = set()

for i in range(2,11):
    if i%2==0:
        even_set.add(i)
print("List of Even numbers from 1 to 10:",even_set)

List of Even numbers from 1 to 10: {2, 4, 6, 8, 10}

In [16]:
# 8. Create a set of odd numbers from 1 to 10.

odd_set = set()

for i in range(1,11):
    if i%2!=0:
        odd_set.add(i)
print("List of Odd numbers from 1 to 10:",odd_set)

List of Odd numbers from 1 to 10: {1, 3, 5, 7, 9}

In [17]:
# 9. Find the union of two sets.

s1 = {1,2,3,4,5}
s2 = {6,7,8,9,10}

union_result = s1.union(s2)
print("Union of Set 1 and Set 2:", union_result)

Union of Set 1 and Set 2: {1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [18]:
# 10. Find the intersection of two sets.

s1 = {1,2,3,4,5}
s2 = {6,2,8,3,1}

intersection_result = s1.intersection(s2)
print("Intersection:", intersection_result)

Intersection: {1, 2, 3}

In [19]:
# 11. Find the difference between two sets.

s1 = {1,2,3,4,5}
s2 = {6,2,8,3,1}

difference_result = s1.difference(s2)
print("Difference:", difference_result)

Difference: {4, 5}

In [22]:
# 12. Check if a set is a subset of another set.

s1 = {1,2,3}
s2 = {1,2,3,4,5}

is_subset = s1.issubset(s2)
print("Is set1 a subset of set2:", is_subset)

set1 is a superset of set2

In [24]:
# 13. Check if a set is a superset of another set.

s1 = {1,2,3,4,5}
s2 = {4,5}

is_superset = s1.issuperset(s2)
if is_superset:
    print("set1 is a superset of set2")
else:
    print("set1 is not a superset of set2")

set1 is a superset of set2

In [25]:
# 14. Create a set from a list.

l = [1,2,3,4,5,6]
s = set(l)

print("Original List:", l)
print("Set from List:", s)

Original List: [1, 2, 3, 4, 5, 6]
Set from List: {1, 2, 3, 4, 5, 6}

In [26]:
# 15. Convert a set to a list.

s = {1,2,3,4,5,6}
l = list(s)

print("Original Set:", s)
print("List from Set:", l)

Original Set: {1, 2, 3, 4, 5, 6}
List from Set: [1, 2, 3, 4, 5, 6]

In [35]:
# 16. Remove a random element from a set.

import random

s = {1,2,3,4,5,6}
print("Original set:", s)
random_element = random.choice(list(s))

s.remove(random_element)
print("Updated set after removing", random_element, ":", s)

Original set: {1, 2, 3, 4, 5, 6}
Updated set after removing 3 : {1, 2, 4, 5, 6}

In [36]:
# 17. Pop an element from a set.

s = {1,2,3,4,5,6}

print("Original set:", s)
popped_element = s.pop()
print("Popped element:", popped_element)
print("Set after popping:", s)

Original set: {1, 2, 3, 4, 5, 6}
Popped element: 1
Set after popping: {2, 3, 4, 5, 6}

In [41]:
# 18. Check if two sets have no elements in common.

s1 = {1,2,3,4,5}
s2 = {6,7,8,9,10}

common_elements = s1.intersection(s2)
if not common_elements:
    print("The two sets have no elements in common.")
else:
    print("The two sets have common elements:", common_elements)

The two sets have no elements in common.

In [42]:
# 19. Find the symmetric difference between two sets.

s1 = {1,2,3,4,5}
s2 = {6,7,2,1,10}
symmetric_difference = s1 ^ s2

print("Symmetric Difference:", symmetric_difference)

Symmetric Difference: {3, 4, 5, 6, 7, 10}

In [43]:
# 20. Update a set with elements from another set.

s1 = {1,2,3}
print("Set 1:", s1)
s2 = {4,5,6}
print("Set 2:", s2)

s1.update(s2)
print("Updated Set 1:", s1)

Set 1: {1, 2, 3}
Set 2: {4, 5, 6}
Updated Set 1: {1, 2, 3, 4, 5, 6}